# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/


# Database and data
data/bot.db
data/keys.txt
data/keys_megafon.txt
data/keys_yota.txt
# IDE
.idea/
.vscode/

# Logs
*.log

#env
.env